/* reset */
:root {
	box-sizing: border-box;
	font-size: 1rem;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	display: block;
	height: auto;
	margin-inline: auto;
	max-width: 100%;
}

table, pre, mjx-container[display=true] {
	display: block;
	max-width: 100%;
	overflow-x: auto;
}

/* typography */
ul, ol {
	margin-left: 1rem;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, pre, details, summary {
	margin-bottom: 1em;
}
h1, h2 {
	font-weight: bolder;
}
h3, h4, h5, h6 {
	font-weight: bold;
}
